<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Error</title>
    <meta property="og:title" content="Error" />
    <meta property="og:site_name" content="FxSpotify" />
    <meta property="twitter:card" content="player" />
    <meta property="theme-color" content="#1ed760" />
    <meta
      property="description"
      content="Oops! This song doesn't exist or is not available."
    />
    <meta
      property="og:description"
      content="Oops! This song doesn't exist or is not available."
    />
    <meta property="twitter:site" content="spotify" />
    <meta property="twitter:title" content="Error" />
  </head>
  <body>
    <h1>Error</h1>
    <p>Oops! This song doesn't exist or is not available.</p>
  </body>
</html>
